Source: skippy-xd
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Section: x11
Priority: optional
Standards-Version: 4.3.0
Homepage: https://github.com/HuayraLinux/pkg-skippy-xd
Vcs-Git: https://github.com/HuayraLinux/pkg-skippy-xd.git
Vcs-Browser: https://github.com/HuayraLinux/pkg-skippy-xd
Build-Depends: debhelper (>= 10), xserver-xorg-dev, libxft-dev, libxcomposite-dev,
 libxdamage-dev, libxinerama-dev, libjpeg-dev, libgif-dev

Package: skippy-xd
Architecture: i386 amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Full-screen Exposé-style standalone task switcher for X11.
 Skippy-XD is a full-screen task-switcher for X11. You know that thing
 Mac OS X, Compiz and KWin do where you press a hotkey and suddenly you
 see miniature versions of all your windows at once? Skippy-XD does just
 that. It's most commonly known by Mac OS X's name for it - Exposé.

